body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.risultati ul li {

  list-style-type: none;
  border: 2px solid black;
  padding: 20px 20px;
  margin: 20px 40%;
  border-radius: 10px;
}


header .button{
  padding: 2px;
  font-family: 'Lato', sans-serif;
}

.contenitore{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  color: black;
  overflow: auto;
}

.contenitore > *{
  margin: auto;
  text-align: center;
}

.header{
  margin-top: 50px;

}

.risultati{
  margin: 50px;
}
